<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.miaoxiang.digitalClock"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="@string/app_name" android:icon="@drawable/icon2">
        <activity android:theme="@android:style/Theme.Translucent" android:label="Digital Clock Widget" android:name=".ClockApp" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:label="@string/app_name_large" android:name=".ClockWidget" android:process="android.process.acore">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:value="dllm" android:resource="@xml/clock" />
        </receiver>
        <receiver android:label="@string/app_name_small" android:name=".ClockWidget_small" android:process="android.process.acore">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:value="dllm" android:resource="@xml/clock_small" />
        </receiver>
        <service android:name=".UpdateService" android:process="android.process.acore" />
        <service android:name=".UpdateService_small" android:process="android.process.acore" />
        <activity android:name="com.google.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    </application>

    <supports-screens android:anyDensity="false" android:largeScreens="true" />
    <supports-screens android:anyDensity="false" android:normalScreens="true" />
    <supports-screens android:anyDensity="false" android:smallScreens="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
</manifest>
